@import 'placeholders';
@import 'variables';

.container {
  padding-top: 75px;
}

.verification {
  width: 565px;
  min-height: 917px;
  padding: 63px 71px 87px 71px;
  margin: auto;
  @extend %shadow;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background-color: $primary-third;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 62px;

  &__icon {
    width: 150px;
    height: 92px;
    margin-bottom: 55px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__info {
    font-size: 15px;
    color: $secondary-fifth;
  }
}

.message {
  font-size: 18px;
  font-family: 'Inter Semi Bold';
  color: $primary-second;
  align-self: flex-start;
  margin-bottom: 59px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

.form-items {
  @extend %itemsCenter;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 90px;
}

.form-item {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    height: 5px;
    background-color: $primary-second;
    border-radius: 3px;
  }
  &__input {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: $primary-second;
    border-bottom: 5px solid $primary-second;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 78px;

  &__verify {
    height: 48px;
    width: 100%;
    background-color: $primary-first;
    font-family: 'Inter Semi Bold';
    color: $primary-third;
    border-radius: 8px;
  }
}

.actions {
  @extend %itemsCenter;
  justify-content: space-between;
  width: 100%;

  &__item {
    @extend %itemsCenter;
    justify-content: center;
  }
}

.resend-but {
  text-decoration: underline;
}

.ng-touched.ng-invalid:not(form) {
  border-left: none;
  border-color: #ef4444;
}

.ng-touched.ng-valid[required],
.ng-valid.required {
  border-left: none;
  border-color: #42a948;
}
