@import 'placeholders';
@import 'variables';

.recommended {
  padding: 1.8rem 4.5rem;
}

.title {
  font-size: 2.5rem;
  font-family: 'Inter Bold';
  color: $primary-second;
  margin-bottom: 5.1rem;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30.8rem, 1fr));
  justify-items: center;
  gap: 2.8rem;
}
