<div class="settings">
  <div class="lang">
    <img class="lang__img" src="assets/header/translate.svg" alt="Language" />
    <p class="lang__title">Lang</p>
    <img class="lang__polygon" src="assets/header/polygon.svg" alt="Polygon" />
  </div>
  <div class="profile">
    <img class="profile__img" src="assets/header/profile.svg" alt="Profile" />
    <p class="profile__title">Kenson</p>
    <img
      class="profile__polygon"
      src="assets/header/polygon.svg"
      alt="Polygon"
    />
  </div>
</div>
