<button
  class="profile"
  (mousedown)="onProfileToggle()"
  (blur)="onProfileClose()"
>
  <img class="profile__img" src="assets/header/profile.svg" alt="Profile" />
  <p class="profile__title">Kenson</p>
  <img
    class="profile__polygon"
    src="assets/header/polygon.svg"
    alt="Polygon"
    [class.active]="isMenu"
  />
  <button class="profile-menu" [class.active]="isMenu">
    @for (item of navigationList; track item.title) {
      <div class="profile-menu__item" [routerLink]="[item.link]">
        {{ item.title }}
      </div>
    }
  </button>
</button>
