<button
  class="profile"
  (mousedown)="onProfileToggle()"
  (blur)="onProfileClose()"
>
  @if (photo$ | async; as photo) {
    <img class="profile__img" [src]="photo" alt="Profile" />
  } @else {
    <img class="profile__img" src="assets/header/profile.svg" alt="Profile" />
  }
  <p class="profile__title">{{ userName$ | async }}</p>
  <img
    class="profile__polygon"
    src="assets/header/polygon.svg"
    alt="Polygon"
    [class.active]="isMenu"
  />
  <button class="profile-menu" [class.active]="isMenu">
    @for (item of navigationList; track item.title) {
      <div class="profile-menu__item" [routerLink]="[item.link]">
        {{ 'PROFILE.' + item.title | translate }}
      </div>
    }
  </button>
</button>
