@if (book) {
  <div class="reader">
    <div class="reader-header">
      <div class="info">
        <button class="back" appGoBack>
          <img src="assets/arrow-light.svg" alt="Back" class="back__arrow" />
          <div class="back__title">{{ 'COMMON.BTN.BACK' | translate }}</div>
        </button>
        <div class="introduction">
          <img [src]="book.image" alt="Cover" class="introduction__cover" />
          <div class="description">
            <div class="description__title">
              {{ 'READER.INTRODUCTION' | translate }}
            </div>
            <p class="description__name">{{ book.title }}</p>
            <p class="description__author">
              {{ book.author }},
              <span class="year">2024</span>
            </p>
          </div>
        </div>
      </div>
      <div class="favorite">
        @if (isFavorite) {
          <button class="favorite__but" (click)="removeFromFavorite()">
            <img src="assets/heart.svg" alt="Favorite" />
          </button>
        } @else {
          <button class="favorite__but" (click)="addToFavorite()">
            <img src="assets/empty-heart.svg" alt="Favorite" />
          </button>
        }
      </div>
    </div>
    <div class="book">
      <object
        aria-label="Book"
        class="book__reader"
        [data]="book.file | safe"
        type="application/pdf"
        width="100%"
        height="100%"
      >
        {{ 'READER.NOT_AVAILABLE' | translate }}
      </object>
    </div>
  </div>
} @else {
  <div class="not-found">{{ 'API_READER.NOT_FOUND' | translate }}</div>
}
