@import 'placeholders';
@import 'variables';

.review-item {
  background-color: $primary-third;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  @extend %itemsCenter;
  justify-content: flex-start;

  &__photo {
    width: 43px;
    height: 43px;
    border-radius: 22px;
    margin-right: 10px;
    align-self: flex-start;
  }

  &__description {
    width: 100%;
  }

  &__header {
    @extend %itemsCenter;
    justify-content: space-between;
  }

  &__content {
    color: $primary-fourth;
  }

  &__remove {
    img {
      height: 30px;
      width: 30px;
    }
  }
}
