@import 'placeholders';
@import 'variables';

.wrapper {
  margin-bottom: 7.3rem;
}

.filter {
  @extend %itemsCenter;
  @extend %shadow;
  border-radius: 4rem;
  height: 4.7rem;
  padding: 1.1rem 0 1rem 2.7rem;
  margin-right: 2.5rem;
  background-color: var(--primary-third);
  position: relative;

  &__title {
    min-width: 9.1rem;
    margin-right: 1.1rem;
  }

  &__polygon {
    margin-right: 2.9rem;
    @extend %transition;

    &.active {
      transform: rotate(180deg);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.menu {
  position: absolute;
  visibility: hidden;
  left: 0;
  bottom: 0;
  width: 17rem;
  height: 32rem;
  border-radius: 1rem;
  line-height: 2.6rem;
  background-color: var(--primary-third);
  text-align: start;
  @extend %shadow;
  @extend %transition;

  &__item {
    padding: 1.2rem 0.9rem;

    &:hover {
      background-color: var(--secondary-fourth);
    }
  }
}
