@import 'placeholders';
@import 'variables';

.review-item {
  background-color: var(--primary-third);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  @extend %itemsCenter;
  justify-content: flex-start;

  &__photo {
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 2.2rem;
    margin-right: 1rem;
    align-self: flex-start;
  }

  &__description {
    width: 100%;
  }

  &__header {
    @extend %itemsCenter;
    justify-content: space-between;
    height: 3rem;
  }

  &__content {
    color: var(--primary-fourth);
  }

  &__remove {
    img {
      height: 3rem;
      width: 3rem;
    }
  }
}

.likes {
  @extend %itemsCenter;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0.6rem;

  &__button {
    @extend %itemsCenter;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    &.like-animation {
      animation: likeAnimation 0.8s;
    }
  }

  &__count {
    margin-right: 1rem;
  }
}

@keyframes likeAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  35% {
    transform: translateY(-150%);
    opacity: 0;
  }

  65% {
    transform: translateY(150%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
