<button class="lang" (mousedown)="onLangToggle()" (blur)="onLangClose()">
  <img class="lang__img" src="assets/header/translate.svg" alt="Language" />
  <p class="lang__title">{{ 'LANG.TITLE' | translate }}</p>
  <img
    class="lang__polygon"
    src="assets/header/polygon.svg"
    alt="Polygon"
    [class.active]="isMenu"
  />
  <button class="lang-menu" [class.active]="isMenu">
    <button (click)="useLanguage('en')" class="lang-menu__item">
      {{ 'LANG.EN' | translate }}
    </button>
    <button (click)="useLanguage('ru')" class="lang-menu__item">
      {{ 'LANG.RU' | translate }}
    </button>
  </button>
</button>
