$primary-first: rgba(250, 124, 84, 1);
$primary-second: rgba(77, 77, 77, 1);
$primary-third: rgba(255, 255, 255, 1);
$primary-fourth: rgba(138, 138, 138, 1);

$secondary-first: rgba(235, 82, 49, 1);
$secondary-second: rgba(87, 31, 207, 1);
$secondary-third: rgba(66, 187, 78, 1);
$secondary-fourth: rgba(243, 243, 247, 1);
$secondary-fifth: rgba(167, 167, 167, 1);
