@import 'placeholders';
@import 'variables';

.title {
  width: 150px;
  height: 26px;
  margin-bottom: 26px;
  @extend %skeletonBackgroundAnimation;
}

.content,
.content-second {
  margin-bottom: 8px;
  width: 754px;
  height: 24px;
  margin-bottom: 4px;
  @extend %skeletonBackgroundAnimation;
}

.content-second {
  margin-bottom: 8px;
  width: 454px;
}

.description {
  @extend %itemsCenter;
  justify-content: space-between;
}

.slider {
  @extend %itemsCenter;
  justify-content: space-between;
  width: 70px;
  height: 10px;
  @extend %skeletonBackgroundAnimation;

  &__but:last-child {
    margin-right: 0;
  }

  &__but.active {
    background-color: $primary-third;
  }
}

.author {
  width: 140px;
  height: 16px;
  @extend %skeletonBackgroundAnimation;
}
