.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  margin-bottom: 51px;

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
