@import 'placeholders';
@import 'variables';

.title {
  margin-bottom: 10px;
}

.review {
  @extend %itemsCenter;
  justify-content: center;
  margin-bottom: 20px;

  &__input {
    padding: 10px 12px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    @extend %shadow;
  }

  &__send {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
