@import 'placeholders';
@import 'variables';

.home {
  color: $primary-second;
  margin-left: 28px;
  margin-top: 22px;
}

.greeting {
  font-family: 'Inter Semi Bold';
  font-size: 35px;
  margin-bottom: 24px;
}

.recommended,
.recent {
  &__description {
    @extend %itemsCenter;
    justify-content: space-between;
    margin-right: 48px;
  }

  &__title {
    font-size: 25px;
    margin-bottom: 24px;
  }

  &__showAll {
    color: $primary-fourth;

    &:hover {
      color: $primary-second;
    }
  }

  &__books {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 39px;
    margin-bottom: 53px;
    overflow: hidden;
    overflow-x: auto;
  }
}
