<div class="container">
  <div class="registration">
    <div class="description">
      <img src="assets/logo.svg" alt="Logo" class="description__icon" />
      <div class="description__title">{{ 'REGISTER.TITLE' | translate }}</div>
      <div class="description__info">
        {{ 'REGISTER.DESCRIPTION' | translate }}
      </div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-item">
        <label for="name" class="form-item__label">
          <div class="form-item__title">
            {{ 'REGISTER.INPUT.NAME' | translate }}
          </div>
          <input
            id="name"
            type="text"
            formControlName="name"
            class="form-item__input form-item__input_name"
            required
          />
        </label>
        @if (name?.hasError('required') && registerForm.touched) {
          <div class="invalid__message">
            {{ 'REGISTER.ERRORS.NAME.REQUIRE' | translate }}
          </div>
        }
        @if (name?.hasError('maxlength') && registerForm.touched) {
          <div class="invalid__message">
            {{ 'REGISTER.ERRORS.NAME.LENGTH' | translate }}
          </div>
        }
        @if (name?.hasError('forbiddenUsername') && registerForm.touched) {
          <div class="invalid__message">
            {{ name?.errors?.['forbiddenUsername'].value }}
          </div>
        }
      </div>
      <div class="form-item">
        <label for="email" class="form-item__label">
          <div class="form-item__title">
            {{ 'REGISTER.INPUT.EMAIL' | translate }}
          </div>
          <input
            id="email"
            formControlName="email"
            required
            type="email"
            class="form-item__input form-item__input_email"
          />
        </label>
        @if (email?.hasError('required') && registerForm.touched) {
          <div class="invalid__message">
            {{ 'REGISTER.ERRORS.EMAIL.REQUIRE' | translate }}
          </div>
        }
        @if (email?.hasError('email') && registerForm.touched) {
          <div class="invalid__message">
            {{ 'REGISTER.ERRORS.EMAIL.INVALID' | translate }}
          </div>
        }
      </div>
      <div class="form-item">
        <label for="password" class="form-item__label">
          <div class="form-item__title">
            {{ 'REGISTER.INPUT.PASSWORD' | translate }}
          </div>
          <input
            id="password"
            formControlName="password"
            type="password"
            required
            autoComplete="on"
            class="form-item__input form-item__input_password"
          />
        </label>
        @if (password?.hasError('required') && registerForm.touched) {
          <div class="invalid__message">
            {{ 'REGISTER.ERRORS.PASSWORD.REQUIRE' | translate }}
          </div>
        }
        @if (password?.hasError('forbiddenPassword') && registerForm.touched) {
          <div class="invalid__message">
            {{ password?.errors?.['forbiddenPassword'].value }}
          </div>
        }
      </div>
      <div class="form-item">
        <label for="confirmPassword" class="form-item__label">
          <div class="form-item__title">
            {{ 'REGISTER.INPUT.CONFIRM' | translate }}
          </div>
          <input
            id="confirmPassword"
            formControlName="confirmPassword"
            type="password"
            required
            autoComplete="on"
            class="form-item__input form-item__input_confirm-pass"
            [ngClass]="{
              'ng-invalid': registerForm.errors?.['passwordNoMatch'],
              'ng-valid': !registerForm.errors?.['passwordNoMatch']
            }"
          />
        </label>
        @if (registerForm.hasError('passwordNoMatch') && registerForm.touched) {
          <div class="invalid__message">
            {{ 'REGISTER.ERRORS.CONFIRM' | translate }}
          </div>
        }
      </div>
      <div class="buttons">
        <button
          type="submit"
          class="buttons__reg btn-third"
          [ngClass]="registerForm.valid ? '' : 'invalid-but'"
        >
          {{ 'REGISTER.REGISTER' | translate }}
        </button>
        <div class="user-check">
          <div>{{ 'REGISTER.ALREADY_USER' | translate }}&ensp;</div>
          <a routerLink="../login">
            <button type="button" class="login-link">
              {{ 'REGISTER.LOGIN_USER' | translate }}
            </button>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
