<div class="book">
  <img class="cover" src="assets/logo.svg" alt="Cover" />
  <div class="description">
    <p class="description__title">Don’t Make Me think</p>
    <p class="description__author">
      Steve Krug, <span class="book__year">2000</span>
    </p>
    <p class="description__edition">second edition</p>
  </div>
  <div class="rating">4.5<span class="rating__total">/5</span></div>
  <div class="category">Computer Science</div>
  <button class="favorite-but">
    <img src="assets/heart.svg" alt="Favorite" />
  </button>
  <button class="preview-but">Preview</button>
</div>
