@import 'placeholders';
@import 'variables';

.book {
  padding: 13px 25px 13px 22px;
  background-color: $primary-third;
  @extend %itemsCenter;
  justify-content: flex-start;
  border-radius: 10px;
  min-height: 125px;
  margin-bottom: 23px;

  &:hover {
    background-color: $secondary-fourth;
  }
}

.cover {
  width: 75px;
  height: 99px;
  margin-right: 47px;

  &__img {
    width: 75px;
    height: 99px;
  }
}

.description {
  max-width: 490px;
  width: 100%;

  &__title {
    margin-bottom: 20px;
  }

  &__author {
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__edition {
    font-size: 10px;
  }
}

.category {
  max-width: 480px;
  width: 100%;
  margin-right: auto;
}

.rating {
  margin-right: 72px;
  min-width: 60px;

  &__total {
    font-size: 15px;
    color: $secondary-fifth;
  }
}

.favorite {
  width: 30px;
  height: 30px;
  margin-right: 67px;

  &__but {
    @extend %itemsCenter;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
}

.preview-but {
  @extend %itemsCenter;
  justify-content: center;
  min-width: 85px;
  height: 30px;
  border: 1px solid $primary-first;
  font-size: 15px;
  color: $primary-first;
  border-radius: 5px;
  padding: 6px 12px;
}
