<div class="upload">
  <div class="title">{{ 'UPLOAD.TITLE' | translate }}</div>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-item">
      <label for="title" class="form-item__label">
        <div class="form-item__title">
          {{ 'UPLOAD.INPUT.TITLE' | translate }}
        </div>
        <input
          id="title"
          formControlName="title"
          [placeholder]="'UPLOAD.PLACEHOLDERS.TITLE' | translate"
          required
          type="text"
          class="form-item__input form-item__input_title"
        />
      </label>
      @if (title?.hasError('required') && uploadForm.touched) {
        <div class="invalid__message">
          {{ 'UPLOAD.ERRORS.TITLE' | translate }}
        </div>
      }
    </div>
    <div class="form-item">
      <label for="author" class="form-item__label">
        <div class="form-item__title">
          {{ 'UPLOAD.INPUT.AUTHOR' | translate }}
        </div>
        <input
          id="author"
          formControlName="author"
          [placeholder]="'UPLOAD.PLACEHOLDERS.AUTHOR' | translate"
          required
          type="text"
          class="form-item__input form-item__input_author"
        />
      </label>
      @if (author?.hasError('required') && uploadForm.touched) {
        <div class="invalid__message">
          {{ 'UPLOAD.ERRORS.AUTHOR' | translate }}
        </div>
      }
    </div>
    <div class="form-item description">
      <label for="description" class="form-item__label">
        <div class="form-item__title">
          {{ 'UPLOAD.INPUT.DESCRIPTION' | translate }}
        </div>
        <textarea
          id="description"
          formControlName="description"
          [placeholder]="'UPLOAD.PLACEHOLDERS.DESCRIPTION' | translate"
          required
          class="form-item__input form-item__input_description"
        ></textarea>
      </label>
      @if (description?.hasError('required') && uploadForm.touched) {
        <div class="invalid__message">
          {{ 'UPLOAD.ERRORS.DESCRIPTION' | translate }}
        </div>
      }
    </div>
    <div class="form-item file">
      <label for="file" class="form-item__label">
        <div class="form-item__title">
          {{ 'UPLOAD.INPUT.FILE' | translate }}
        </div>
        <input
          id="file"
          [placeholder]="'UPLOAD.PLACEHOLDERS.FILE' | translate"
          required
          type="file"
          class="form-item__input form-item__input_file"
          accept="application/pdf"
          (change)="onSetFile($event)"
        />
      </label>
      @if (file?.hasError('required') && uploadForm.touched) {
        <div class="invalid__message">
          {{ 'UPLOAD.ERRORS.FILE' | translate }}
        </div>
      }
    </div>
    <div class="form-item image">
      <label for="image" class="form-item__label">
        <div class="form-item__title">
          {{ 'UPLOAD.INPUT.IMAGE' | translate }}
        </div>
        <input
          id="image"
          [placeholder]="'UPLOAD.PLACEHOLDERS.IMAGE' | translate"
          required
          type="file"
          class="form-item__input form-item__input_image"
          accept="image/png, image/gif, image/jpeg, .svg"
          (change)="onSetImage($event)"
        />
      </label>
      @if (image?.hasError('required') && uploadForm.touched) {
        <div class="invalid__message">
          {{ 'UPLOAD.ERRORS.IMAGE' | translate }}
        </div>
      }
    </div>
    <div class="buttons">
      <button
        type="submit"
        class="buttons__submit"
        [ngClass]="uploadForm.valid ? '' : 'invalid-but'"
      >
        {{ 'UPLOAD.UPLOAD' | translate }}
      </button>
    </div>
  </form>
</div>
