<div class="wrapper">
  <button class="filter" (click)="onFilterToggle()" (blur)="onFilterClose()">
    <div class="filter__title">{{ filterCategory }}</div>
    <img
      class="filter__polygon"
      [class.active]="isFilter"
      src="assets/header/polygon.svg"
      alt="Polygon"
    />
    <button
      class="menu"
      [class.active]="isFilter"
      (click)="changeFilterType($event)"
    >
      @for (item of filterCategoryList; track $index) {
        <div class="menu__item" [attr.data-filterType]="item">{{ item }}</div>
      }
    </button>
  </button>
</div>
