@import 'placeholders';
@import 'variables';

.options {
  @extend %itemsCenter;
  justify-content: space-between;
  width: 19.3rem;
  padding: 0.6rem;

  .option {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-bottom: 0.7rem;
    }

    &__title {
      font-family: 'Inter Bold';
      font-size: 1.1rem;
    }
  }
}
