@import 'placeholders';
@import 'variables';

.book {
  padding: 13px 25px 13px 22px;
  background-color: $primary-third;
  @extend %itemsCenter;
  justify-content: flex-start;
  border-radius: 10px;
  height: 125px;
  margin-bottom: 23px;
}

.cover {
  width: 75px;
  height: 99px;
  margin-right: 47px;

  &__img {
    width: 75px;
    height: 99px;
    @extend %skeletonBackgroundAnimation;
  }
}

.description {
  max-width: 490px;
  width: 100%;

  &__title {
    margin-bottom: 20px;
    width: 207px;
    height: 20px;
    @extend %skeletonBackgroundAnimation;
  }

  &__author {
    margin-bottom: 10px;
    height: 15px;
    width: 140px;
    @extend %skeletonBackgroundAnimation;
  }

  &__edition {
    width: 70px;
    height: 10px;
    @extend %skeletonBackgroundAnimation;
  }
}

.rating {
  margin-right: 72px;
  min-width: 60px;
  height: 15px;
  @extend %skeletonBackgroundAnimation;
}

.category {
  max-width: 280px;
  height: 27px;
  width: 100%;
  margin-right: auto;
  @extend %skeletonBackgroundAnimation;
}

.favorite-but {
  @extend %itemsCenter;
  justify-content: center;
  margin: 0 50px;
  min-width: 30px;
  height: 30px;
  margin-right: 67px;
  @extend %skeletonBackgroundAnimation;
}

.preview-but {
  @extend %itemsCenter;
  @extend %skeletonBackgroundAnimation;
  justify-content: center;
  min-width: 85px;
  height: 30px;
  border-radius: 5px;
}
