@import 'placeholders';
@import 'variables';

.book {
  padding: 1.3rem 2.5rem 1.3rem 2.2rem;
  background-color: $primary-third;
  @extend %itemsCenter;
  justify-content: flex-start;
  border-radius: 1rem;
  height: 12.5rem;
  margin-bottom: 2.3rem;
}

.cover {
  width: 7.5rem;
  height: 9.9rem;
  margin-right: 4.7rem;

  &__img {
    width: 7.5rem;
    height: 9.9rem;
    @extend %skeletonBackgroundAnimation;
  }
}

.description {
  max-width: 49rem;
  width: 100%;

  &__title {
    margin-bottom: 2rem;
    width: 20.7rem;
    height: 2rem;
    @extend %skeletonBackgroundAnimation;
  }

  &__author {
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 14rem;
    @extend %skeletonBackgroundAnimation;
  }

  &__edition {
    width: 7rem;
    height: 1rem;
    @extend %skeletonBackgroundAnimation;
  }
}

.rating {
  margin-right: 7.2rem;
  min-width: 6rem;
  height: 1.5rem;
  @extend %skeletonBackgroundAnimation;
}

.category {
  max-width: 28rem;
  height: 2.7rem;
  width: 100%;
  margin-right: auto;
  @extend %skeletonBackgroundAnimation;
}

.favorite-but {
  @extend %itemsCenter;
  justify-content: center;
  margin: 0 5rem;
  min-width: 3rem;
  height: 3rem;
  margin-right: 6.7rem;
  @extend %skeletonBackgroundAnimation;
}

.preview-but {
  @extend %itemsCenter;
  @extend %skeletonBackgroundAnimation;
  justify-content: center;
  min-width: 8.5rem;
  height: 3rem;
  border-radius: 0.5rem;
}
