<div class="book">
  <div class="cover">
    <div class="cover__img"></div>
  </div>
  <div class="description">
    <div class="description__title"></div>
    <div class="description__author">
      <span class="book__year"></span>
    </div>
    <div class="description__edition"></div>
  </div>
  <div class="rating"><span class="rating__total"></span></div>
  <div class="category"></div>
  <div class="favorite-but">
    <div src="assets/heart.svg" alt="Favorite"></div>
  </div>
  <div class="preview-but"></div>
</div>
