@import 'placeholders';
@import 'variables';

.quote {
  border-radius: 5px;
  padding: 15px 15px 25px 44px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(140.88deg, #eb5231 -29.15%, #571fcf 151.64%);
  color: $primary-third;
  max-width: 811px;
  margin-bottom: 42px;

  &__title {
    font-family: 'Inter Medium';
    font-size: 25px;
    margin-bottom: 25px;
  }

  &__content {
    margin-bottom: 8px;
  }

  &__description {
    @extend %itemsCenter;
    justify-content: space-between;
  }
}

.slider {
  @extend %itemsCenter;
  justify-content: space-between;

  &__but {
    border: 1px solid $primary-third;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &__but:last-child {
    margin-right: 0;
  }

  &__but.active {
    background-color: $primary-third;
  }
}
