<div class="book">
  <div class="book-info">
    <div class="cover">
      <img class="cover__img" [src]="bookData.image" alt="Cover" />
    </div>
    <p class="title">{{ bookData.title }}</p>
    <p class="author">
      {{ bookData.author }},
      <span class="year">{{ bookData.description }}</span>
    </p>
    <div class="rating">4.5 <span class="rating__total">/5</span></div>
  </div>
  <div class="additional">
    <button class="remove-but" (click)="openModal()">
      <img class="remove-but__img" src="assets/close.svg" alt="Favorite" />
    </button>
    <div class="terms">
      <div class="borrowed">
        <p class="borrowed__title">Borrowed on</p>
        <p class="borrowed__desc">
          {{ bookData.borrowedOn | date: 'dd MMM yyyy hh:mm a' }}
        </p>
      </div>
      <div class="submission">
        <p class="submission__title">Submission Due</p>
        <p class="submission__desc">
          {{ bookData.submissionDate | date: 'dd MMM yyyy' }}
        </p>
      </div>
    </div>
    <div class="links">
      <button class="ebook">E-BOOK</button>
      <button class="read" [routerLink]="['/my-books/reader', bookData.id]">
        Read
      </button>
    </div>
  </div>
</div>
@if (isRemoveModal) {
  <app-modal (closeModal)="closeModal($event)">
    <div class="modal-content">
      <div class="modal-title">
        Are you sure that you want to delete this book?
      </div>
      <div class="modal-buttons">
        <button class="modal-buttons__item" (click)="removeFromMyBook()">
          Remove
        </button>
        <button class="modal-buttons__item" (click)="closeModal(false)">
          Cancel
        </button>
      </div>
    </div>
  </app-modal>
}
