@import 'placeholders';
@import 'variables';
@import 'mixins';

.details {
  padding: 9.3rem 4.5rem;

  @include desktop-middle {
    padding: 5.1rem 4.5rem;
  }
}

.back-but {
  @extend %itemsCenter;
  justify-content: flex-start;
  height: 2.2rem;
  margin-bottom: 2.2rem;
  width: 15.1rem;
  @extend %skeletonBackgroundAnimation;
}

.content {
  @extend %itemsCenter;
  justify-content: flex-start;
}

.book {
  @extend %itemsCenter;
  justify-content: flex-start;
  align-items: flex-start;

  @include tablet-big {
    flex-direction: column;
  }
}

.cover {
  width: 27.8rem;
  height: 44.5rem;
  margin-right: 7.1rem;
  padding: 2.4rem 3.4rem;
  background-color: var(--primary-third);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 2.7rem;

  &__img {
    width: 20.9rem;
    height: 27.7rem;
    @extend %skeletonBackgroundAnimation;

    @include tablet-big {
      width: 15rem;
      line-height: 20rem;
    }
  }
}

.options {
  @extend %itemsCenter;
  justify-content: space-between;
  width: 19.3rem;
  padding: 0.6rem;

  .option {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-bottom: 0.7rem;
      @extend %skeletonBackgroundAnimation;
    }

    &__title {
      width: 3.1rem;
      height: 1.2rem;
      @extend %skeletonBackgroundAnimation;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  height: 4rem;
  max-width: 38rem;
  width: 100%;
  margin-bottom: 0.8rem;
  @extend %skeletonBackgroundAnimation;

  @include desktop-middle {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

.author {
  margin-bottom: 1.8rem;
  width: 14rem;
  height: 1.5rem;
  @extend %skeletonBackgroundAnimation;
}

.edition {
  width: 12rem;
  height: 1.4rem;
  margin-bottom: 4.2rem;
  @extend %skeletonBackgroundAnimation;
}

.rating {
  margin-bottom: 3.5rem;
  @extend %itemsCenter;
  @extend %skeletonBackgroundAnimation;
  justify-content: flex-start;
  width: 17.3rem;
  height: 1.6rem;
}

.availability {
  margin-bottom: 4.4rem;

  &__title {
    width: 10rem;
    height: 1.6rem;
    margin-bottom: 1.1rem;
    @extend %skeletonBackgroundAnimation;
  }
}

.availability-item {
  width: 16rem;
  height: 2rem;
  margin-bottom: 0.8rem;
  @extend %skeletonBackgroundAnimation;
}

.buttons {
  @extend %itemsCenter;
  justify-content: flex-start;
  align-items: flex-start;

  @include desktop-middle {
    flex-direction: column;
  }

  &__read,
  &__listen {
    width: 20.9rem;
    height: 6.1rem;
    border-radius: 0.5rem;
    margin-right: 3.8rem;
    @extend %skeletonBackgroundAnimation;

    @include desktop-middle {
      margin-bottom: 1.5rem;
    }
  }
}

.review {
  height: 4rem;
  width: 100%;
  border-radius: 0.5rem;
  @extend %skeletonBackgroundAnimation;
}
