<div class="details">
  <div class="back-but"></div>
  <div class="content">
    <div class="book">
      <div class="cover">
        <div class="cover__img"></div>
        <div class="options">
          <div class="option">
            <div class="option__icon"></div>
            <div class="option__title"></div>
          </div>
        </div>
      </div>
      <div class="description">
        <div class="description__info">
          <div class="title"></div>
          <div class="author"></div>
          <div class="edition"></div>
          <div class="rating"></div>
          <div class="availability">
            <div class="availability__title"></div>
            <div class="availability-item"></div>
          </div>
        </div>
        <div class="buttons">
          <div class="buttons__read"></div>
          <div class="buttons__listen"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="review"></div>
</div>
