@import 'placeholders';
@import 'variables';

.book {
  width: 160px;
  height: 260px;
  border-radius: 5px;
  padding: 16px 15px 13px 15px;
  background-color: $primary-third;
}

.cover {
  width: 123px;
  height: 170px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.title {
  font-size: 12px;
  margin-bottom: 5px;
}

.author {
  font-size: 10px;
  margin-bottom: 5px;
}

.rating {
  font-size: 10px;

  .rating__total {
    color: $secondary-fifth;
  }
}
