@import 'placeholders';
@import 'variables';

.book {
  width: 160px;
  min-height: 260px;
  border-radius: 5px;
  padding: 16px 15px 13px 15px;
  background-color: $primary-third;
  @extend %transition;

  &:hover {
    cursor: pointer;
    background-color: $secondary-fourth;
  }
}

.cover {
  width: 123px;
  height: 170px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.title {
  font-size: 12px;
  margin-bottom: 5px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  font-size: 10px;
  margin-bottom: 5px;
}

.rating {
  font-size: 10px;

  .rating__total {
    color: $secondary-fifth;
  }
}
