<nav class="nav">
  <div class="item">
    <img class="item__img" src="assets/home.svg" alt="Home" />
    <div class="item__title">Home</div>
  </div>
  <div class="item">
    <img class="item__img" src="assets/search.svg" alt="Home" />
    <div class="item__title">Search</div>
  </div>
  <div class="item">
    <img class="item__img" src="assets/bookshelf.svg" alt="Home" />
    <div class="item__title">Favorite</div>
  </div>
  <div class="item">
    <img class="item__img" src="assets/bookshelf.svg" alt="Home" />
    <div class="item__title">My Books</div>
  </div>
  <div class="item">
    <img class="item__img" src="assets/give-gift.svg" alt="Home" />
    <div class="item__title">Upload</div>
  </div>
</nav>
