@import 'placeholders';
@import 'variables';

.favorite {
  padding: 18px 45px;
}

.title {
  font-size: 25px;
  font-family: 'Inter Bold';
  color: $primary-second;
  margin-bottom: 51px;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
  justify-items: center;
  gap: 28px;
}
