<div class="favorite">
  <div class="title">Your Favorite</div>
  <div class="books">
    @for (uploadBook of uploadFavoriteBooks$ | async; track uploadBook.id) {
      <app-favorite-upload-book
        [uploadBookData]="uploadBook"
        (removeFromUploadFavoriteEvent)="removeFromUploadFavorite($event)"
      />
    }
    @for (book of favoriteBooks$ | async; track book.id) {
      <app-favorite-book
        [bookData]="book"
        (removeFromFavoriteEvent)="removeFromFavorite($event)"
      />
    } @empty {
      Empty list of books
    }
  </div>
</div>
