<div class="book">
  <div class="book-info">
    <img class="cover" src="assets/logo.svg" alt="Cover" />
    <p class="title">Hello</p>
    <p class="author">
      Hert Fevgyhy,
      <span class="year">2024</span>
    </p>
    <div class="rating">4.5 <span class="rating__total">/5</span></div>
  </div>
  <div class="additional">
    <div class="terms">
      <div class="borrowed">
        <p class="borrowed__title">Borrowed on</p>
        <p class="borrowed__desc">11 Mar 2023 09:00 AM</p>
      </div>
      <div class="submission">
        <p class="submission__title">Submission Due</p>
        <p class="submission__desc">14 Mar 2023</p>
      </div>
    </div>
    <div class="links">
      <button class="ebook">E-BOOK</button>
      <button class="read">Read</button>
    </div>
  </div>
</div>
