@import 'mixins';
@import 'variables';
@import 'placeholders';

.wrapper {
  border-radius: 1rem;
  margin: 4.5rem 3.6rem;
  display: flex;
  background-color: $secondary-fourth;

  @include desktop {
    margin: 4.5rem 3.6rem;
  }

  @include small-desktop {
    margin: 3.5rem 2rem;
  }

  @include tablet {
    margin: 1.5rem 1rem;
  }
}

.content {
  width: 100%;
}

.header {
  padding: 3.8rem 4.8rem 2.5rem 4.6rem;
  @extend %itemsCenter;
  justify-content: space-between;
  width: 100%;
}

.settings {
  @extend %itemsCenter;
  color: $primary-second;
}

.sidebar {
  min-width: 30.6rem;
  padding-left: 6.8rem;
  padding-top: 3.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem 0 0 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $primary-third;
  color: $primary-fourth;
}

.logo {
  width: 12rem;
  height: 7.4rem;
  margin-bottom: 10rem;
}
