<div class="container">
  <div class="title">{{ 'REVIEW.TITLE' | translate }}:</div>
  <div class="review">
    <input
      type="text"
      class="review__input"
      [placeholder]="'REVIEW.PLACEHOLDER' | translate"
      [formControl]="reviewText"
      (keyup.enter)="sendReview()"
    />
    <button
      class="review__send"
      (click)="sendReview()"
      [ngClass]="{ disabled: reviewText.hasError('required') }"
    >
      <img src="assets/send.svg" alt="Send" class="review__send-img" />
    </button>
  </div>
  @if (isLoading$ | async) {
    <div class="loader-container"><app-loader /></div>
  } @else {
    @for (review of reviews$ | async; track review.id) {
      <app-review-item
        [reviewData]="review"
        [userId]="userId$ | async"
        (removeReview)="removeReview($event)"
      />
    }
  }
</div>
