<div class="container">
  <div class="verification">
    <div class="description">
      <img src="assets/logo.svg" alt="Logo" class="description__icon" />
      <div class="description__title">
        {{ 'VERIFICATION_SUC.TITLE' | translate }}
      </div>
      <div class="description__info">
        {{ 'VERIFICATION_SUC.DESCRIPTION' | translate }}
      </div>
    </div>
    <div class="message">{{ 'VERIFICATION_SUC.MESSAGE' | translate }}</div>
    <img src="assets/success.svg" alt="Success" class="success-icon" />
    <button type="submit" class="button-login" routerLink="/">
      {{ 'LOGIN.LOGIN' | translate }}
    </button>
  </div>
</div>
