<div class="reader" [ngClass]="{ full: isFullScreen | async }">
  @if (book$ | async; as book) {
    <div class="reader-header">
      <div class="info">
        <button class="back" appGoBack>
          <img src="assets/arrow-light.svg" alt="Back" class="back__arrow" />
          <div class="back__title">{{ 'COMMON.BTN.BACK' | translate }}</div>
        </button>
        <div class="introduction">
          <img
            [src]="book.images.small"
            alt="Cover"
            class="introduction__cover"
          />
          <div class="description">
            <div class="description__title">
              {{ 'API_READER.INTRODUCTION' | translate }}
            </div>
            <p class="description__name">{{ book.title }}</p>
            <p class="description__author">
              {{ book.authors[0] }},
              <span class="year">
                {{ book.publishedDate | date: 'y' }}
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="buttons">
        @if (isFavorite | async) {
          <button class="buttons__fav" (click)="removeFromFavorite(book.id)">
            <img src="assets/heart.svg" alt="Favorite" />
          </button>
        } @else {
          <button class="buttons__fav" (click)="addToFavorite(book)">
            <img src="assets/empty-heart.svg" alt="Favorite" />
          </button>
        }
        @if (isFullScreen | async) {
          <button class="buttons__screen" (click)="switchFullScreen(false)">
            {{ 'COMMON.BTN.SHORT' | translate }}
          </button>
        } @else {
          <button class="buttons__screen" (click)="switchFullScreen(true)">
            {{ 'COMMON.BTN.FULL' | translate }}
          </button>
        }
      </div>
    </div>
  }
  <div class="content">
    <div class="book" #bookCanvas [ngClass]="{ full: isFullScreen | async }">
      @if (isUnavailable$ | async) {
        <div class="not-available">
          {{ 'API_READER.NOT_AVAILABLE' | translate }}
        </div>
      }
      @if (isLoading$ | async) {
        <div class="loader"></div>
      }
    </div>
  </div>
</div>
