@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'placeholders';

body {
  background-image: url('assets/background/main-3.svg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Inter Regular';
  color: $primary-second;
  font-size: 20px;
  background-color: $primary-third;
}

button:hover {
  cursor: pointer;
}

//scrollbar

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #1a1c1e;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

//form validation

.ng-touched.ng-invalid:not(form) {
  border-left: 2px solid #ef4444;
}

.ng-touched.ng-valid[required],
.ng-valid.required {
  border-left: 2px solid #42a948;
}

.invalid__message {
  color: rgb(239 68 68);
}

.invalid-but {
  opacity: 0.7;
}

//modal

.modal-content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
  height: 220px;
  background-color: $primary-third;
  border-radius: 10px;
  font-family: 'Inter Semi Bold';
}

.modal-title {
  margin-bottom: 100px;
}

.modal-buttons {
  width: 100%;
  @extend %itemsCenter;
  justify-content: space-between;

  &__item {
    height: 48px;
    width: 100px;
    background-color: $primary-first;
    color: $primary-third;
    border-radius: 8px;
  }
}
