@import './styles/normalize';
@import './styles/fonts';
@import './styles/variables';
@import './styles/mixins';
@import './styles/placeholders';

body {
  background-image: url('assets/background/main-1.svg'),
    url('assets/background/main-2.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
