<div class="container">
  <div class="registration">
    <div class="description">
      <img src="assets/logo.svg" alt="Logo" class="description__icon" />
      <div class="description__title">Registration</div>
      <div class="description__info">For Both Staff & Students</div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-item">
        <label for="name" class="form-item__label">
          <div class="form-item__title">Name</div>
          <input
            id="name"
            type="text"
            formControlName="name"
            class="form-item__input"
            required
          />
        </label>
        <div *ngIf="name?.errors?.['required']" class="invalid__message">
          please enter a username
        </div>
        <div *ngIf="name?.errors?.['maxlength']" class="invalid__message">
          username should contains less then 40 symbols
        </div>
        <div
          *ngIf="name?.errors?.['forbiddenUsername']"
          class="invalid__message"
        >
          {{ name?.errors?.['forbiddenUsername'].value }}
        </div>
      </div>
      <div class="form-item">
        <label for="email" class="form-item__label">
          <div class="form-item__title">Email</div>
          <input
            id="email"
            formControlName="email"
            required
            type="email"
            class="form-item__input"
          />
        </label>
        <div *ngIf="email?.errors?.['required']" class="invalid__message">
          please enter a email
        </div>
        <div *ngIf="email?.errors?.['email']" class="invalid__message">
          the email is invalid
        </div>
      </div>
      <div class="form-item">
        <label for="password" class="form-item__label">
          <div class="form-item__title">Password</div>
          <input
            id="password"
            formControlName="password"
            type="password"
            required
            autoComplete="on"
            class="form-item__input"
          />
        </label>
        <div *ngIf="password?.errors?.['required']" class="invalid__message">
          please enter a password
        </div>
        <div
          *ngIf="password?.errors?.['forbiddenPassword']"
          class="invalid__message"
        >
          {{ password?.errors?.['forbiddenPassword'].value }}
        </div>
      </div>
      <div class="form-item">
        <label for="confirmPassword" class="form-item__label">
          <div class="form-item__title">Confirm Password</div>
          <input
            id="confirmPassword"
            formControlName="confirmPassword"
            type="password"
            required
            autoComplete="on"
            class="form-item__input"
            [ngClass]="{
              'ng-invalid': registerForm.errors?.['passwordNoMatch'],
              'ng-valid': !registerForm.errors?.['passwordNoMatch']
            }"
          />
        </label>
        <div
          *ngIf="registerForm.errors?.['passwordNoMatch']"
          class="invalid__message"
        >
          Password does'nt match.
        </div>
      </div>
      <div class="buttons">
        <button type="submit" class="buttons__reg">Register</button>
        <div class="user-check">
          <div>Already a User?</div>
          <a routerLink="../login">
            <button type="button" class="login-link">Login now</button>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
