@import 'placeholders';
@import 'variables';

.search {
  padding-right: 35px;
  padding-left: 45px;
  margin-top: 10px;
}

.titles {
  @extend %itemsCenter;
  justify-content: flex-start;
  font-family: 'Inter Medium';
  margin-bottom: 23px;
  padding-right: 25px;

  &__title {
    max-width: 621px;
    width: 100%;
  }

  &__rating {
    min-width: 100px;
    margin-right: 78px;
  }

  &__category {
    width: 100%;
  }
}

.show-more {
  width: 100%;
  @extend %itemsCenter;
  justify-content: center;
  margin-bottom: 23px;

  &__button {
    width: 209px;
    height: 61px;
    border-radius: 5px;
    font-size: 20px;
    background: $primary-first;
    color: $primary-third;
    text-transform: uppercase;
    font-family: 'Inter Semi Bold';
    margin-right: 38px;
  }
}
