@import 'placeholders';
@import 'variables';

.search {
  padding-right: 3.5rem;
  padding-left: 4.5rem;
  margin-top: 1rem;
}

.titles {
  @extend %itemsCenter;
  justify-content: flex-start;
  font-family: 'Inter Medium';
  margin-bottom: 2.3rem;
  padding-right: 2.5rem;

  &__title {
    max-width: 62.1rem;
    width: 100%;
  }

  &__rating {
    min-width: 10rem;
    margin-right: 7.8rem;
  }

  &__category {
    width: 100%;
  }
}

.show-more {
  width: 100%;
  @extend %itemsCenter;
  justify-content: center;
  margin-bottom: 2.3rem;

  &__button {
    width: 20.9rem;
    height: 6.1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    background: $primary-first;
    color: $primary-third;
    text-transform: uppercase;
    font-family: 'Inter Semi Bold';
    margin-right: 3.8rem;
  }
}
